body {
margin-top: 25px;
background: dimgrey;
}

.card a {
	color: dimgrey;
}
.card a:hover {
	color: steelblue;
}

#namemobile {
	color: dimgrey;
}

#nametablet {
	color: steelblue;
}

#namecomputer {
	color: steelblue;
}
